.overlay {
  position: absolute;
  color: white;
  background-color: rgb(0, 0, 0, 0.7);
  z-index: 3;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 2rem;
  padding: 2rem 2rem;
  overflow: hidden;
}

.featuredCard_heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .css-8uv88s-MuiTypography-root {
    max-height: 75px;
    overflow: hidden;
  }

  h2 {
    margin-bottom: 2rem;
    margin-left: unset;
  }

  h2 span {
    font-size: 32px;
  }
}
