.site_intro {
  position: relative;
  color: white;
}

.site_nav {
  position: absolute;
  width: 100%;
  padding: 1rem;
}

.nav_items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.poster_img img {
  width: 100%;
}
