.movieItem:hover {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px !important;
}

@media only screen and (max-width: 768px) {
  .css-103chds-MuiPaper-root-MuiCard-root {
    max-width: 100%;
    margin-left: 0;
  }
}
